@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Titillium+Web&display=swap');


body.dark {
    --bg-color: #000;
    --navbar-bg: #333;
    --font-color: #f2f2f2;
    --navbar-hover: #1f1f1f;
    --toggle-hover: #505050;
    --toggle-bg: #333;
    transition: background-color 500ms ease-in-out;
}

body.light {
    --bg-color: #fff;
    --navbar-bg: #5CB3FF;
    --font-color: #000000;
    --navbar-hover: #56A5EC;
    --toggle-hover: #D3D3D3;
    --toggle-bg: #E8E8E8;
    transition: background-color 500ms ease-in-out;
}

body {
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.navbar {
    background-color: var(--navbar-bg);
    overflow: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100vw;
}

.navbar a, .navbar2 a, .navbar span, .navbar2 span {
    float: left;
    color: var(--font-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.navbar2 {
    bottom: 0;
    background-color: var(--navbar-bg);
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#logo {
    height: 30vh;
    width: 30vh;
}

#padding1 {
    height: 5vh;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1, h2, h4 {
    text-align: center;
}

h1, h2 {
    font-family: "Titillium Web", Georgia, serif;
}

h4, a, span {
    font-weight: normal;
    font-family: "Merriweather", Arial, serif;
    color: var(--font-color)
}

body {
    margin: 0;
}

#dropdown-content {
    display: none;
    position: fixed;
    background-color: var(--navbar-bg);
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
}


#dropdown-content a {
    float: none;
    color: var(--font-color);
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


a:hover, span:hover {
    background-color: var(--navbar-hover);
}


.dropdown:hover #dropdown-content {
    display: block;
}

.dropdown {
    float: left;
    overflow: hidden;
    position: relative;
}

span, a {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 500px) {
    #footer-center {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #footer-right {
        float: right;
    }

    #navbar-center {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #navbar-right {
        float: right;
    }

    #dropdown-content {
        right: 4px;
        left: auto
    }

    #toggle-dark {
        bottom: 75px;
    }
}

@media screen and (min-height: 610px) {
    #padding3 {
        height: 0;
    }
}


#toggle-dark {
    padding: 14px 18px;
    background-color: var(--toggle-bg);
    color: var(--font-color);
    border: 3px solid var(--font-color);
    border-radius: 5px;
    position: fixed;
    bottom: 12vh;
    right: 5vw;
    font-size: large;
    font-family: "Merriweather", Arial, serif;
    cursor: pointer;
    margin: 0;
}

#toggle-dark:hover {
    background-color: var(--toggle-hover);
}

#padding3 {
    height: 80px;
}
